body {
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  
background-color: #0d0f36; 
}
header {
    margin: 30px 0;
}
.contenido {
    padding:20px;
}
.contenido-principal {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 30px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color:#004e92;
    font-size: 22px;
    margin-bottom:30px;
}
.error {
    background-color: rgba(230, 88, 88, 0.78);
    margin-top: 1rem;
    text-align: center;
    border-radius: 50px;

}

.btn.agregar, .btn.indicar-presupuesto {
    background-color:#294380;
    color: #f1f6ce;
}

.btn.agregar:hover, .btn.indicar-presupuesto:hover {
    background-color: #b9f1d6;
    color: #294380;
}

